
body{
    font: 20px 	CR A Std, monospace;

}

.navbar {
    background-color: #f4cae2;
}

.quem-somos {
    background-color: rgb(152, 183, 255);
    color: black;

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px
}

.parceiros{
    background-color: #6A5ACD;
    color: black;

}

.serviços{
    background-color: wheat;
    color: black;
}

.bg-footer{
    background-color: #f4cae2;
    color:black;
    font: 20px Andale Mono, monospace;
}